@import "tailwindcss";

@layer base {
  :root {
    --background-primary: #050505;
    --background-secondary: #0f0f10;
    --background-tertiary: #19191a;
    --content-body: #cdcbcc;
    --content-placeholder: #827d7f;
    --content-headline: #b2b2b2;
    --border-primary: #19191a;
    --border-secondary: #323234;
    --border-tertiary: #97979b;
    --accent-purple: #4b2dbb;
    --accent-green: #87bb2d;
    --accent-pink: #b5446b;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--background-primary);
  }
  .bg-secondary {
    background-color: var(--background-secondary);
  }
  .bg-tertiary {
    background-color: var(--background-tertiary);
  }
  .bg-accent-purple {
    background-color: var(--accent-purple);
  }
  .text-body {
    color: var(--content-body);
  }
  .text-placeholder {
    color: var(--content-placeholder);
  }
  .text-headline {
    color: var(--content-headline);
  }
  .border-primary {
    border-color: var(--border-primary);
  }
  .border-secondary {
    border-color: var(--border-secondary);
  }
  .border-tertiary {
    border-color: var(--border-tertiary);
  }
  .text-accent-purple {
    color: var(--accent-purple);
  }
  .text-accent-green {
    color: var(--accent-green);
  }
  .text-accent-pink {
    color: var(--accent-pink);
  }
}
